html,

:root {
    --base-color: 202, 100%, 20%;
    --base-color-paragraph: 200, 70%, 60%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: hsl(var(--base-color), 95%);
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
    margin-left:0;
}

nav ul li a {
    text-decoration: none;
    color: hsl(var(--base-color), 60%);
    padding: 8px 15px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(41, 41, 41, 0.711);
    transition: all 0.3s ease;
    display: block;
  }
  

nav ul li a:hover {
    color: white;
    background-color: #12273c;
    transform: scale(1.2) translateY(-5px);
    transition: all 0.5s ease;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5.14);

}
.content-section {
    margin-top: 20px;
    padding: 0;
    color: hsl(var(--base-color), 70%);
}

.content-section:hover {
    background-color: #12273c;
    color: white;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.content-section h2 {
    color: hsl(var(--base-color), 90%);
}

.content-section p {
    color: hsl(var(--base-color), 65%); 
}

.content-section:hover h2,
.content-section:hover p {
    color: white; 
}

footer {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid hsl(var(--base-color), 100%);
    padding: 10px;
}
